

* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  height: 100%;
  width: 100%;
  min-width: 230px;
}

body {
  overflow-x: hidden;
  overflow-y: hidden; /* will be overwritten by javascript after the preloader disappears  */
}
.rtl{
	direction: rtl;
	text-align: right;
}
/* --------- */
/*Scrollbar   */
/* --------- */


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.7;
  background: #5C2D91;
  border-radius: 2px;
  transition: opacity 0.3s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
:root {
  --min-height-header: 80px;
  --secondary-color: #FFF000;
}
.disabled{
  cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
  touch-action: none;
}
.hightlighted__button{
  background: transparent linear-gradient(180deg, #92278F 0%, #5C2D91 100%) 0% 0% no-repeat padding-box;
  color: var(--secondary-color);
  transition: 0.3s linear;
  transition-property: filter, color;
}
.hightlighted__button:hover{
  filter: brightness(1.2);
  color:#ffef0a;
}
.hightlighted__button:active{
  filter:brightness(1.1);
}
.is-invalid{
  border-color: rgb(192, 5, 5) !important;
}
/* mobile menu button */
.mobile-menu-button {
	overflow: visible;
	cursor: pointer;
	fill: #92278F;
	width: 36px;
}
.mobile-menu-button-top, .mobile-menu-button-middle, .mobile-menu-button-bottom {
	transition: 0.3s;
	transform-origin: center center;
	width: 100%;
	height: 4px;
}
.mobile-menu-button .mobile-menu-button-top{
  width: 75%;
}
.mobile-menu-button .mobile-menu-button-middle{
  width: 50%;
}
.mobile-menu-button.active .mobile-menu-button-top {
	transform: translate(-6px, 7px) rotate(45deg);
}
.mobile-menu-button.active .mobile-menu-button-middle {
	transform: translateX(20px);
	opacity: 0;
}
.mobile-menu-button.active .mobile-menu-button-top{
  width: 100%;
}
.mobile-menu-button.active .mobile-menu-button-bottom {
	transform: translate(-7px, -10px) rotate(-45deg);
}
.zoom-on-hover{
 transition: 0.3s linear;
 transition-property: transform, filter;
}

.title--divider .title--divider--start, .title--divider .title--divider--end{
  width: 30px;
  height:4px;
  border-radius: 10px;
  position: relative;
  top: .50em;
  }
  .title--divider .title--divider--middle{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 18px;
  text-transform: uppercase;
  flex-shrink:0;
  flex-grow:0;
  -webkit-box-flex: 0;
  -webkit-flex-grow:0;
  -webkit-flex-shrink: 0;
  }



@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(0.8px, 0.8px) rotate(0.8deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-0.8px, 0.8px) rotate(-0.8deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


/* responsive */
/* md and above */
@media only screen and (min-width: 819px) {
  .nav-item-button.active-view.active-view{
      background: transparent linear-gradient(180deg, #92278F 0%, #5C2D91 100%) 0% 0% no-repeat padding-box;
      color: var(--secondary-color);
  }
}
/* when the view turn to md breakpoint */
@media only screen and (max-width: 819px) {
  :root{
    --min-height-header: 67px;
  }
  .navbar__open{
    overflow-y: hidden !important;
  }

  .nav-item-button.active-view.active-view{
    border-left-color: #92278F;
    color: #fff;
    font-weight: bold;
  }
}

/* animations */

/* Fade in */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-effect{
	animation: fadeIn 0.2s ease-out;
}
.fade-loader-enter-active{
  animation: fadeIn 0.5s;
}
.fade-loader-leave-active{
  animation: fadeIn 0.9s reverse backwards ease;
}

.mobile-slider-enter-active {
	animation: slide-left 0.3s;
}
.mobile-slider-leave-active {
	animation: slide-left 0.3s reverse ease;
}

@keyframes slide-right {
	0% {
	  transform: translate3d(-100%, 0px, 0px);
	  opacity: 0;
	}
	100% {
	  transform: translate3d(0, 0px, 0px);;
	  opacity: 1;
	}
}

@keyframes slide-left {
	0% {
	  transform: translate3d(100%, 0px, 0px);
	  opacity: 0;
	}
	100% {
	  transform: translate3d(0, 0px, 0px);;
	  opacity: 1;
	}
}
.tab-content-enter-active {
  transition: all .3s ease;
}
.tab-content-leave-active {
  transition: all .3s ease-in-out;
}
.tab-content-enter, .tab-content-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-3%);
  opacity: 0;
}

/* RTL STYLING */

html.rtl .mobile-slider-enter-active {
	animation: slide-right 0.3s;
}
html.rtl .mobile-slider-leave-active {
	animation: slide-right 0.3s reverse ease;
}
html.rtl .nav-item-button{
  border-right-width: 2px;
  border-left-width: 0;
}
html.rtl .features__slides .facts-list li::before{
  margin-right: -1em ;
  margin-left: 0 !important;
}
/* tooltip */
.custom__tooltip {
  position: relative;
  font-size: 13px;
}
  .custom__tooltip:after, .custom__tooltip:before {
    opacity: 0;
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, 10px);
    transform-origin: top;
    transition: all 0.18s ease-out 0.18s; }

.custom__tooltip:after {
  width: max-content;
  background-color: #f5f5f5;
  box-shadow: 0 0 3px #ddd;
  content: attr(data-tooltip);
  padding: 10px;
  white-space: nowrap;
  margin-bottom: 11px; }

.custom__tooltip:before {
  width: 0;
  height: 0;
  content: "";
  margin-bottom: 6px; }

.custom__tooltip:hover:before,
.custom__tooltip:hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0); }

[data-tooltip-pos="up"]:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f5f5f5;
  margin-bottom: 6px; }

[data-tooltip-pos="down"]:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5f5f5;
  margin-top: 6px; }

[data-tooltip-pos="right"]:before {
  border-top: 6px solid transparent;
  border-right: 6px solid #f5f5f5;
  border-bottom: 6px solid transparent;
  margin-left: 6px; }

[data-tooltip-pos="left"]:before {
  border-top: 6px solid transparent;
  border-left: 6px solid #f5f5f5;
  border-bottom: 6px solid transparent;
  margin-right: 6px; }

[data-tooltip-pos="down"]:before,
[data-tooltip-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -10px); }

[data-tooltip-pos="down"]:after {
  margin-top: 11px; }

[data-tooltip-pos="down"]:hover:before,
[data-tooltip-pos="down"]:hover:after {
  transform: translate(-50%, 0); }

[data-tooltip-pos="left"]:before,
[data-tooltip-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  transform: translate(10px, -50%); }

[data-tooltip-pos="left"]:after {
  margin-right: 11px; }

[data-tooltip-pos="left"]:hover:before,
[data-tooltip-pos="left"]:hover:after {
  transform: translate(0, -50%); }

[data-tooltip-pos="right"]:before,
[data-tooltip-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%); }

[data-tooltip-pos="right"]:after {
  margin-left: 11px; }

[data-tooltip-pos="right"]:hover:before,
[data-tooltip-pos="right"]:hover:after {
  transform: translate(0, -50%); }

/* 819 pixels and below */
@media only screen and (max-width: 819px) {
  html.rtl .nav-item-button.active-view.active-view{
    border-right-color: #92278F;
  }
}
/* 819 pixels and above */
@media only screen and (min-width: 819px) {
  .zoom-on-hover:hover{
    filter: brightness(1.1);
    transform: scale(1.01);
  }
}
/* 460 pixels and below */
@media only screen and (max-width: 460px) {
  html {
    overflow-x: hidden;
  }
}